<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhikuntech.intellimonitor.windpowerforecast.domain.mapper.WfDataCdqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhikuntech.intellimonitor.windpowerforecast.domain.entity.WfDataCdq">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="order_num" property="orderNum" />
        <result column="station_number" property="stationNumber" />
        <result column="body_time" property="bodyTime" />
        <result column="event_date_time" property="eventDateTime" />
        <result column="forecast_produce" property="forecastProduce" />
        <result column="create_time" property="createTime" />
        <result column="sample_ids" property="sampleIds" />
        <result column="sample_cap" property="sampleCap" />
        <result column="cap" property="cap" />
        <result column="running_cap" property="runningCap" />
        <result column="header_date" property="headerDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id, order_num, station_number, body_time, event_date_time, forecast_produce, create_time, sample_ids, sample_cap, cap, running_cap, header_date
    </sql>

</mapper>
