<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE com.zhikuntech.intellimonitor.fanscada.domain.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.zhikuntech.intellimonitor.fanscada.domain.mapper.dtd">
<com.zhikuntech.intellimonitor.fanscada.domain.mapper namespace="com.zhikuntech.intellimonitor.windpowerforecast.domain.com.zhikuntech.intellimonitor.fanscada.domain.mapper.WfBasicMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhikuntech.intellimonitor.windpowerforecast.domain.entity.WfBasicMapping">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="station_name" property="stationName" />
        <result column="station_number" property="stationNumber" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id, station_name, station_number, create_time
    </sql>

</com.zhikuntech.intellimonitor.fanscada.domain.mapper>
