<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE com.zhikuntech.intellimonitor.fanscada.domain.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.zhikuntech.intellimonitor.fanscada.domain.mapper.dtd">
<com.zhikuntech.intellimonitor.fanscada.domain.mapper namespace="com.zhikuntech.intellimonitor.windpowerforecast.domain.com.zhikuntech.intellimonitor.fanscada.domain.mapper.WfDataZrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhikuntech.intellimonitor.windpowerforecast.domain.entity.WfDataZr">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="order_num" property="orderNum" />
        <result column="station_number" property="stationNumber" />
        <result column="event_date_time" property="eventDateTime" />
        <result column="actual_produce" property="actualProduce" />
        <result column="machine_capacity" property="machineCapacity" />
        <result column="create_time" property="createTime" />
        <result column="sample_ids" property="sampleIds" />
        <result column="sample_cap" property="sampleCap" />
        <result column="cap" property="cap" />
        <result column="body_time" property="bodyTime" />
        <result column="row_raw_data" property="rowRawData" />
        <result column="status" property="status" />
        <result column="fetch_time" property="fetchTime" />
        <result column="fail_msg" property="failMsg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id, order_num, station_number, event_date_time, actual_produce, machine_capacity, create_time, sample_ids, sample_cap, cap, body_time, row_raw_data, status, fetch_time, fail_msg
    </sql>

</com.zhikuntech.intellimonitor.fanscada.domain.mapper>
